<a href="https://colab.research.google.com/github/DarekGit/FACES_DNN/blob/master/notebooks/06_00_Porownanie.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### [Spis treści](https://github.com/DarekGit/FACES_DNN/blob/master/notebooks/Praca_Dyplomowa.ipynb)

## [6. Porównanie modeli](06_00_Porownanie.ipynb)

Pomiary czasu interferencji wybranych modeli, wyliczenie metryk mAP oraz Coco AP wykonano dla zestawów danych FDDB, WIDER FACE oraz FACES_DD. 
Testy zostały zamieszczone w plikach: 

 * 6.1. [Wyniki na zbiorze FDDB](06_01_FDDB_TEST.ipynb)  
 * 6.2. [Wyniki na zbiorze WIDER FACE](06_02_WIDERFACE_TEST.ipynb) 
 * 6.3. [Wyniki na zbiorze FACES_DD](06_03_FACES_DD_TEST.ipynb)   

<br>

### Porównanie wyników testów

Załadowania wyników testów modeli.

In [ ]:
# finalnie do przeniesienia do pliku i załadowaie jako biblioteki zwracającej potrzebne ramki
from google.colab import drive
import pandas as pd
import os
import json

drive.mount('/content/drive')

time_measurement= "time_measurement_results.json"
unified_mAP = "unified_mAP_dataframe.json"
COCO_AP_FDDB = "df_AP_FDDB.json"
COCO_AP_WIDERFACE = "df_AP_WIDERFACE.json"
COCO_AP_FACES_DD = "df_AP_FACES_DD.json"

unified_mAP_FDDB = os.path.join("./drive/My Drive", "FDDB_OUTPUT_DIR", unified_mAP)
unified_mAP_WIDERFACE = os.path.join("./drive/My Drive", "WIDERFACE_OUTPUT_DIR", unified_mAP)
unified_mAP_FACES_DD = os.path.join("./drive/My Drive", "FACES_DD_OUTPUT_DIR", unified_mAP)

time_measurement_FDDB = os.path.join("./drive/My Drive", "FDDB_OUTPUT_DIR", time_measurement)
time_measurement_WIDERFACE = os.path.join("./drive/My Drive", "WIDERFACE_OUTPUT_DIR", time_measurement)
time_measurement_FACES_DD = os.path.join("./drive/My Drive", "FACES_DD_OUTPUT_DIR", time_measurement)

AP_FDDB = os.path.join("./drive/My Drive", "FDDB_OUTPUT_DIR", COCO_AP_FDDB)
AP_WIDERFACE = os.path.join("./drive/My Drive", "WIDERFACE_OUTPUT_DIR", COCO_AP_WIDERFACE )
AP_FACES_DD = os.path.join("./drive/My Drive", "FACES_DD_OUTPUT_DIR", COCO_AP_FACES_DD)

#time
with open(time_measurement_FDDB) as data_file:
    data_loaded = json.load(data_file)
df_time_FDDB = pd.read_json(data_loaded, orient="table" ).sort_values(by=['total_time'], ascending=True)

with open(time_measurement_WIDERFACE) as data_file:
    data_loaded = json.load(data_file)
df_time_WIDERFACE = pd.read_json(data_loaded, orient="table" ).sort_values(by=['total_time'], ascending=True)

with open(time_measurement_FACES_DD) as data_file:
    data_loaded = json.load(data_file)
df_time_FACES_DD= pd.read_json(data_loaded, orient="table" ).sort_values(by=['total_time'], ascending=True)

# unified_mAP
with open(unified_mAP_FDDB) as data_file:
    data_loaded = json.load(data_file)
df_mAP_FDDB = pd.read_json(data_loaded, orient="table" ).sort_values(by=['All 0.50'], ascending=True)

with open(unified_mAP_WIDERFACE) as data_file:
    data_loaded = json.load(data_file)
df_mAP_WIDERFACE = pd.read_json(data_loaded, orient="table" ).sort_values(by=['All 0.50'], ascending=True)

with open(unified_mAP_FACES_DD) as data_file:
    data_loaded = json.load(data_file)
df_mAP_FACES_DD= pd.read_json(data_loaded, orient="table" ).sort_values(by=['All 0.50'], ascending=True)

# COCO AP
with open(AP_FDDB) as data_file:
    data_loaded = json.load(data_file)
df_AP_FDDB = pd.read_json(data_loaded, orient="table" ).sort_values(by=['AP'], ascending=True)

with open(AP_WIDERFACE) as data_file:
    data_loaded = json.load(data_file)
df_AP_WIDERFACE = pd.read_json(data_loaded, orient="table" ).sort_values(by=['AP'], ascending=True)

with open(AP_FACES_DD) as data_file:
    data_loaded = json.load(data_file)
df_AP_FACES_DD= pd.read_json(data_loaded, orient="table" ).sort_values(by=['AP'], ascending=True)

### Wyniki pomiaru czasu interferencji

Wynik dla FDDB

In [9]:
df_time_FDDB

                                 total_time  mean_diff        fps
MTCNN                             91.830989   0.032278  30.980827
800k                             178.880448   0.062875  15.904477
BN_800k                          179.575302   0.063120  15.842936
BN_Mish_V3_80+_30k               200.774246   0.070571  14.170144
BN_Mish_V2_250+F_2_50k           200.794809   0.070578  14.168693
faster_rcnn_R_50_FPN_3x          234.852265   0.082549  12.113999
scratch_faster_rcnn_R_50_FPN_gn  253.903901   0.089246  11.205027

Wynik dla WIDER FACE

In [10]:
df_time_WIDERFACE

                                 total_time  mean_diff        fps
BN_800k                          244.897014   0.075914  13.172884
800k                             248.565521   0.077051  12.978469
faster_rcnn_R_50_FPN_3x          307.453097   0.095305  10.492657
BN_Mish_V3_80+_30k               311.967525   0.096704  10.340820
BN_Mish_V2_250+F_2_50k           314.006855   0.097336  10.273661
MTCNN                            329.380084   0.102102   9.794156
scratch_faster_rcnn_R_50_FPN_gn  332.273322   0.102999   9.708875

Wynik dla FACES_DD

In [11]:
df_time_FACES_DD

                                 total_time  mean_diff       fps
BN_800k                          210.414673   0.227475  4.396081
800k                             211.473241   0.228620  4.374076
faster_rcnn_R_50_FPN_3x          233.995587   0.252968  3.953066
scratch_faster_rcnn_R_50_FPN_gn  241.162454   0.260716  3.835589
BN_Mish_V2_250+F_2_50k           327.347029   0.353889  2.825747
BN_Mish_V3_80+_30k               333.371976   0.360402  2.774678
MTCNN                            475.079065   0.513599  1.947044

### mAP

Wynik dla FDDB

In [12]:
df_mAP_FDDB

                                      mAP  All 0.50  ...    medium     small
800k                             0.190720  0.567498  ...  0.712006  0.453871
MTCNN                            0.226706  0.767601  ...  0.653019  0.295505
BN_800k                          0.403373  0.897774  ...  0.822335  0.596383
scratch_faster_rcnn_R_50_FPN_gn  0.384401  0.900806  ...  0.823343  0.572182
BN_Mish_V3_80+_30k               0.402092  0.910858  ...  0.843167  0.605858
BN_Mish_V2_250+F_2_50k           0.382871  0.916938  ...  0.853672  0.645481
faster_rcnn_R_50_FPN_3x          0.400832  0.922293  ...  0.856809  0.628422

[7 rows x 5 columns]

Wynik dla WIDER FACE

In [15]:
df_mAP_WIDERFACE

                                      mAP  All 0.50  ...    medium     small
MTCNN                            0.133329  0.228585  ...  0.518723  0.103795
800k                             0.238252  0.433512  ...  0.749513  0.310390
BN_800k                          0.284875  0.503125  ...  0.838339  0.361031
faster_rcnn_R_50_FPN_3x          0.287271  0.509173  ...  0.872292  0.351544
BN_Mish_V3_80+_30k               0.299488  0.526117  ...  0.858282  0.385726
BN_Mish_V2_250+F_2_50k           0.312105  0.553373  ...  0.877947  0.415864
scratch_faster_rcnn_R_50_FPN_gn  0.324501  0.580318  ...  0.875298  0.454291

[7 rows x 5 columns]

Wynik dla FACES_DD

In [14]:
df_mAP_FACES_DD

                                      mAP  All 0.50  ...    medium     small
MTCNN                            0.465178  0.628649  ...  0.542096  0.464101
800k                             0.481014  0.731359  ...  0.633790  0.410361
faster_rcnn_R_50_FPN_3x          0.602236  0.897930  ...  0.719939  0.465102
BN_800k                          0.612444  0.898214  ...  0.748719  0.525535
scratch_faster_rcnn_R_50_FPN_gn  0.584328  0.916883  ...  0.806975  0.543409
BN_Mish_V3_80+_30k               0.628391  0.917763  ...  0.815184  0.506664
BN_Mish_V2_250+F_2_50k           0.626479  0.929601  ...  0.821471  0.609895

[7 rows x 5 columns]

### COCO AP

Wynik dla FDDB

In [16]:
df_AP_FDDB

                                        AP       AP50  ...        APm        APl
800k                             19.019075  57.739784  ...  25.407776  17.908660
BN_Mish_V2_250+F_2_50k           37.604153  90.541335  ...  32.083840  42.632895
scratch_faster_rcnn_R_50_FPN_gn  37.811685  89.204056  ...  31.184698  44.683578
faster_rcnn_R_50_FPN_3x          39.450135  91.435634  ...  34.032336  45.124748
BN_Mish_V3_80+_30k               39.490323  90.495200  ...  32.996425  46.237979
BN_800k                          39.692626  89.397019  ...  32.746256  46.565123

[6 rows x 6 columns]

Wynik dla WIDER FACE

In [17]:
df_AP_WIDERFACE

                                        AP       AP50  ...        APm        APl
800k                             23.100826  42.814369  ...  45.492286  40.228140
BN_800k                          27.766038  49.522419  ...  52.528106  60.480344
faster_rcnn_R_50_FPN_3x          27.965053  50.158303  ...  55.023554  64.620984
BN_Mish_V3_80+_30k               29.157098  51.745406  ...  53.954390  62.016662
BN_Mish_V2_250+F_2_50k           30.202843  54.445577  ...  55.288928  63.485808
scratch_faster_rcnn_R_50_FPN_gn  31.400140  57.145298  ...  53.463648  61.377793

[6 rows x 6 columns]

Wynik dla FACES_DD

In [18]:
df_AP_FACES_DD

                                        AP       AP50  ...        APm        APl
800k                             47.816123  72.677722  ...  39.939450  51.833139
scratch_faster_rcnn_R_50_FPN_gn  58.026158  90.890998  ...  49.704715  62.094925
faster_rcnn_R_50_FPN_3x          59.622354  88.986689  ...  44.176127  65.812254
BN_800k                          60.860485  89.135235  ...  47.828671  66.596196
BN_Mish_V2_250+F_2_50k           62.258940  92.213344  ...  51.571792  66.904200
BN_Mish_V3_80+_30k               62.476118  91.280964  ...  51.697124  67.475040

[6 rows x 6 columns]

## Wnioski

<br>